body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #d4cece;
}

#projects {
  background-color: #d4cece;
}

footer {
  padding-bottom: 20px;
}

section {
  padding-top: 5rem;
}
